.services {
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.services img {
    display: block;
    width: 400px;
    height: 400px;
}

.text-right {
    margin-right: 6rem;
}

.text-left {
    margin-left: 6rem;
}